<%= form_for [@user, @profile], as: :profile do |f| %>
  <div class="col">
    <div class="row g20">
      <div class="w240f">
        <h4> Old Image: </h4>
      </div>
      <div class="w240f">
        <h4> NewImage: </h4>
      </div>
    </div>
    <div class="row g20">
      <div class="w240f">
        <%= image_tag @profile.profile_photo, class: "profilePicture"%>
      </div>
      <div class="w240f">
        <%= image_tag @profile.profile_photo, class: "imagePreview" %>
      </div>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :image %>
    </div>
    <div>
      <%= f.hidden_field :image, value: @profile.cached_image_data, id: nil %>
      <%= f.file_field :image, class: "imageInput"%>
    </div>
  </div>
  <%= f.submit "Update Profile Image"%>
<% end %>

<script type="text/javascript" src="/javascript/lib/image_preview.js"></script>
