<h1> <%= "#{@profile.email}'s Profile" %> </h1>
<div class="row g20">
  <div class="h300 w240f">
    <%= image_tag @profile.profile_photo %>
  </div>
  <div class="h80 w64f">
    <%= image_tag @profile.profile_photo_tiny %>
  </div>
</div>
<% if current_user.id == @profile.user.id %>
  <%= button_to "Edit Picture", "/users/#{@profile.user.id}/profile/edit", method: :get %>
  <div>
    <h2> Stats </h2>
      <div class="stats">
        <h3> # Of people you are following :: <%= "#{@profile.followed_users.length}"%> </h3>
        <h3> # Of posts you've made :: <%= "#{@profile.posts.length}"%> </h3>
        <h3> # Of comments you've made :: <%= "#{@profile.comments.length}"%> </h3>
      </div>
  </div>
<% end %>

<div class="col g10 center">
  <h2> <%="#{@profile.email}'s Posts" %> </h2>
  <% @profile.user.posts.sort_by { |post| post.created_at }.each do |post| %>
    <%= render partial: "posts/post", locals: {post: post, is_comment: false} %>
  <% end %>
</div>