<% if is_comment %>
  <div class="row g2" id="comment_<%="#{post.id}"%>">
<% else %>
  <div class="row g2" id="post_<%="#{post.id}"%>">
<% end %>
  <div class="post col w120f p20 t-small g5 w100max ">
    <div class="h80 center-horizontal tp5">
      <%= image_tag post.user.profile_picture_tiny %>
    </div>
    <div>
       <a href='/users/<%="#{post.user.id}"%>/profile'> <%="#{post.email}" %></a>
    </div>
    <div>
       <%= "Posts: #{post.user.posts.length}" %>
    </div>
  </div>
  <div class="post col w85p p20">
    <div class="top">
      <div class="head t-small">
        <%= "#{post.created_at.localtime.to_fs(:long_ordinal)}" %>
      </div>
    </div>
    <div class="hauto hmin50 nomargin">
      <%= render partial: "posts/post_body", locals: { post: post } %>
    </div>
    <div class = "h25 bottom">
      <div class = "foot row h25">
        <%= render partial: "posts/like_footer", locals: { post: post } %>
        <% if !is_comment %>
          <%= render partial: "posts/comment_footer", locals: { post: post } %>
        <% end %>
        <div class = "f-right">
          <% if current_user.id == post.user.id %>
            <% if is_comment %>
              <%= button_to "Delete this comment", post_comment_path(id: post.id), method: :delete %>
            <% else %>
              <%= button_to "Delete this post", post, method: :delete %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if !is_comment %>
  <div class = "m100">
    <%= turbo_frame_tag "comments_#{post.id}" %>
  </div>
<% end %>