<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Odinbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.meta name: "direct-upload-url", content: rails_direct_uploads_path %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav id="nav">
      <div class="nav_buttons row g5">
        <% if user_signed_in? %>
          <div class="col">
            <div class="row g20">
              <%= button_to "Front Page", "/posts", method: :get %>
              <%= button_to "All Users", "/users", method: :get %>
            </div>
            <div class="row g20">
              <%= button_to "My Profile", "/users/#{current_user.id}/profile" , method: :get %>
              <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
              <%= "Hello #{current_user.email}" %>
            </div>
        <% end %>
      </div>
    </nav>
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>
    <%= yield %>
  </body>
</html>
